<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>MuninNode</servlet-name>
        <servlet-class>com.github.carlanton.muninnode4j.MuninNodeServlet</servlet-class>

        <init-param>
            <param-name>package</param-name>
            <param-value>com.github.carlanton.muninnode4j.examples.dummies</param-value>
        </init-param>

        <init-param>
            <param-name>listen</param-name>
            <param-value>*:4949</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>MuninNode</servlet-name>
        <url-pattern>/munin</url-pattern>
    </servlet-mapping>
</web-app>
